/* 모든요소가 너비+패딩+테두리 -> 화면처리 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 배치,위치,크기 -> 배경 -> 테두리 -> 폰트 -> 기타 */

h2 {
    text-align: center;
}

/* 
    부모요소에 relative 빼먹는 경우가 있으므로 꼭 체크할것★★★
    기본 relative적기 만약 absoulte, fixed 이미 썻다면 냅둬라
*/
.wrap {
    position: relative;
    left: 0;
    top: 0;
    /* 자리 순서대로 배치*/
    width: 500px;
    height: 500px;
    margin: 40px auto 0;
    border: 1px solid #000;
}

.box {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: pink;
    border: 1px solid #f00;
    font: bold 1.5em 'inherit'
        /* 굵게 부모크기의 1.5배 '부모폰트상속'*/
    ;
}

/* 폰트기본 : 16px 맑은 고딕 검정 */

/*구조 선택자*/
.box:nth-of-type(1) {
    left: 20px;
    top: 10px;
}

.box:nth-of-type(2) {
    right: 0;
    top: 0;
}

.box:nth-of-type(3) {
    left: 0;
    bottom: 0;
}

.box:nth-of-type(4) {
    right: 0;
    bottom: 0;
}

/* 
    left, top : 부모기준 50%
    현재 위치 조정 translate
        -50% : 나의 크기의 -50%만큼 이동
*/
.box:nth-of-type(5) {
    left: 50%;
    top: 50%;
    transform: translate();
}

/*
    box클래스와 center-box클래스가 동시에 적용된것 선택

*/
.box.center-box {
    /* left top 부모기준 50%*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* 현재위치조정 : translate - 50% 나의 크기 -50%만큼 */
}

/* 가로만 가운데 맞춤 */
.horizontal {
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translate(-50%);
}

/* 세로만 가운데 맞춤 */
.vertical {
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translate(-50%);
}

.top{
    /* fixed: 브라우저 기준 */
    position: fixed; right: 50px; top: 50%;
    width: 50px; line-height: 50px;
    background-color: violet;
    text-align: center;
}
/* 
    static : 좌표값 안됨
    relative : 현재 자신의 위치가 기준(상대적인)
    absolute : 부모태그 기준으로
    fixed : 현재 브라우저 기준으로

    자식요소 absolute인 경우
    position : relative/absoulte/fixed가 적용된
    가까운 부모가 기중이 된다
    
    html 구조상의 부모와 css 기준의 부모가 다를 수가 있다.
*/

.wrap-2 {
    position: relative;
    left: 0;
    top: 0;
    /* 자리 순서대로 배치*/
    width: 500px;
    height: 500px;
    margin: 40px auto 0;
    border: 1px solid #000;
}

.box {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: pink;
    border: 1px solid #f00;
    font: bold 2em 'inherit';
        /* 굵게 부모크기의 1.5배 '부모폰트상속'*/
        /* 폰트 기본 : 16px 맑은고딕 검정*/
}
/* z-index : 겹치는 우선순위 조정
    기본값 : 0 / 숫자가 클수록 위로 온다.
    - 숫자를 5단계정도만 정해서 사용
    - 겹치는부분에 z-index 우선순위가 같을 떄 겹치면 무조건 아래것이 위로 올라온다.
    1,2,3,4,5
*/
.box:nth-of-type(1){left: 0; top: 0;z-index: 10;}
.box:nth-of-type(2){left: 40px; top: 40px;}
.box:nth-of-type(3){left: 80px; top: 80px; z-index: 5;}
.box:nth-of-type(4){left: 120px; top: 120px;}
.box:nth-of-type(5){left: 160px; top: 160px; z-index: 10;}