* {}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*  :root 선택자
    html 문서에서 가장 사위에 위치하는 요소를 선택
    = 일반적인 <html> 태그
    = 문서 전체제 적용하는 스타일을 써준다

    * 변수 설정
    :root{} 선택자 안에
    --변수명 : 값;

    * 적용 ->  속성 : var(--변수명);

    * 사용하는 이유
    - 일관성 유지
    - 유지보수 편의성
    - 재사용성
    - 테마변경

*/
:root {
    --container-size: 1080px;
    --title-color: #fff;
    --description-color: #ccc;
}

body {
    background-color: #000;
    color: #fff;
    font-family: Pretendard, 'Noto Sans KR', '맑은 고딕', sans-serif;
    margin-left: 100px;
}

.wrap {
    width: 100%;
    margin: 80px;
    line-height: 50px;
}

.info {
    margin-left: 20px;
}

.info .cover {
    display: inline-block;
    position: relative;
    width: 100%;
}

.info .cover .cover-image {


    width: 220px;
    height: 200px;
    border-radius: 10px;

}

.info .cover .cover-play-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    transform: 0.3;

}

.info .cover:hover .cover-play-icon {
    opacity: 1;
}

.info .playlist-title {
    font-size: 30px;
    font-weight: bold;
}

.info span {
    /* position: relative;
    top: -10px; */
    transform: translateY(-6px) scale(0);
    display: inline-block;
    width: 30px;
    height: 25px;
    background-color: #444;
    border-radius: 10px;
    font-size: 12px;
    text-align: center;
    line-height: 25px;
    color: gray;
}

.info .title-info {
    display: block;
    color: gray;
}

.tracks {
    margin-left: 20px;
}